* *::before *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--clrSecondery-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

canvas {
    background-color: var(--clrSecondary);
    width: 90%;
    border-radius: 20px;
}

button {
    border: none;
}

.btn {
    padding: 5px;
    font-size: 2rem;
    width: 3.3rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--clrSecondary);
}

.btn:hover {
    outline: 3px solid var(--clrPrimary);
    border-color: var(--clrSecondary);
}

.btn img {
    vertical-align: middle;
}

h1 img {
    vertical-align: middle;
}