.editor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8125rem;

    width: 90%;
    margin: 0 auto;
    min-width: 320px;
    border-radius: 20px;
}

.canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 300px;
    text-align: center;
}

input.canvas-text {
    width: 15rem;
    padding: .625rem 1.25rem;
    border: none;
    border-radius: 10px;
}

.font-picker {
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
}

.btn-text {
    font-size: 1.2rem;
    padding: .625rem .9375rem;
    width: max-content;
    border: none;
    color: var(--clrSecondary);
    background-color: var(--clrPrimary);
}

.btn-text:hover {
    background-color: var(--clrPrimary-1);
}

.btn-text a:visited {
    color: var(--clrSecondary);
}

.fix {
    gap: 5px;
}