.editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 90%;
    margin: 0 auto;
    padding-block: .5rem;
}

.canvas-container {
    text-align: center;
}

input.canvas-text {
    width: 240px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.font-picker {
    font-size: 1.2em;
    border: 1px solid black;
    border-radius: 10px;
}

.btn-text {
    font-size: 1.2rem;
    padding: 10px 15px;
    font-weight: 400;
    width: max-content;
    border: none;
    color: white;
    background-color: var(--clrPrimary);
}

.btn-text:hover{
    background-color: var(--clrPrimary-1);
}

.btn-text a {
    padding-block: 0;
    text-decoration: none;
    color: black;
}

.btn-text a:visited {
    color: white;
}

div.fix {
    gap: 5px;
}

