.gallery-container {
    display: grid;
    gap: 1rem;
    margin: 1rem 1rem;
}

.gallery-container img {
    cursor: pointer;
}

.gallery-container img:hover {
    outline: 5px solid var(--clrPrimary);
}

div.gallery-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.btn-file-input {
    font-size: .5rem;
    width: max-content;
}

label.file-input-button {
    font-size: .5rem;
    width: max-content;
}

.img-filter {
    width: 170px;
    border-radius: 20px;
    padding-block: 2px;
}