.gallery-container {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 10px auto;
}

.gallery-container img{
    cursor: pointer;
}

.gallery-container img:hover{
    outline: 5px solid var(--clrSecondary);
}
