.main-nav {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    left: 0;
}

.logo {
    display: flex;
    justify-self: end;
    margin-right: 0;
}

.lang-picker {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    padding: 3px;
}