/* main-header */
.main-header {
	position: sticky;
	top: 0;
	background-color: var(--clrPrimary);
	/* margin-bottom: 1rem; */
	padding: 1rem 1rem .625rem 1rem;
}

.main-header .main-nav {
	display: flex;
	align-items: center;
}

.logo {
	max-width: 200px;
	min-width: 10rem;
}

.btn-nav {
	border: none;
	background-color: transparent;
	font-size: .8rem;
	color: #ffffff;
	cursor: pointer;
	margin-left: 1em;
}

/* hamgurger Menu */
.main-nav {
	position: fixed;
	right: 20px;
	width: max-content;
}

.main-header .btn-toggle-menu {
    font-size: 1.5rem;
    background-color: transparent;
	border: none;
    color: white;
	transition: all 1s;
}

.nav-bar{
	opacity: 0;
	transition: opacity 1s;
}

.nav-bar.menu-open{
	opacity: 1;
}

