/* main-header */
.main-header {
	position: sticky;
	top: 0;
	background-color: var(--clrPrimary);
	/* margin-bottom: 1rem; */
	padding: 1rem 1rem .625rem 1rem;
}

.main-header .main-nav {
	display: flex;
	align-items: center;
}

.logo {
	max-width: 200px;
	min-width: 10rem;
}

.btn-nav {
	border: none;
	background-color: transparent;
	font-size: 1.1875rem;
	color: #ffffff;
	cursor: pointer;
	margin-left: 1em;
}