/* Large: 1100px */
/* medium: 960px */
/* small: 740px */

@media (max-width: 640px) {
    .main-nav>ul {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        margin-right: 20px;
    }
}

@media (min-width: 640px) {
    .div.gallery-bar {
        flex-direction: row;
    }
}

@media (min-width: 750px) {
    .editor-layout {
        grid-template-columns: repeat(2, minmax(auto, 1fr))
    }

    .logo {
        max-width: 200px;
    }

    .nav-bar {
        opacity: 1;
    }

    .btn-toggle-menu {
        display: none;
    }
}

@media (min-width: 1160px) {}