:root {
    /* PALLETE */
 
    --clrPrimary2: #292929;
    --clrPrimary1: #4f4e4e;
    --clrPrimary: #606060;
    --clrPrimary-1: #818181;
    --clrPrimary-2: #c2c1c1;

    --clrPrimary: #ff7f00;

    /* layout */
    --headerHeight: 100px;

    /* mq */
    --l: 1060px;
    --m: 860px;
    --s: 600px;
}